body {
    background: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}
#all-contents {
  max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgb(0, 0, 0);
   margin: 0 auto;
    display: flex;
    padding: 10px;
}
h1 {
    display: flex;
    align-items: center;
    color: rgb(176, 70, 70);
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
}
a {
    text-decoration: none;
    color: #fff;
}

/* main container area beneath menu */
main {
    background: rgb(169, 80, 80);
    display: flex;
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: 200px;
}
.content {
    flex: 1;
    padding: 15px;
}

/* portfolio styles */
#interests {
    border: 4px rgb(161, 15, 15) ridge;
    padding: 8px;
}
h2, h3 {
    margin: 0px;
}

/* portfolio styles */
         .content h1 {
            color: rgb(84, 29, 29);
        }

        #portfolio {
            list-style-type: none;
            padding-left: 0;
        }

        #portfolio li {
            background: #938383;
            padding: 10px;
            border-radius: 10px;
            margin-bottom: 10px;
        }

        #portfolio li:hover {
            background: #eee;
        }

        #portfolio a {
            text-decoration: none;
            color: #000000;
        }

                    /* responsive web design */
                    @media screen and (min-width: 120px) and (max-width: 1080px) {
                        main {
                          height: 100ch;
                          zoom: 1.5;
                          display: grid;
                        }
          
                        h1 {
                          font-size: 44px;
                        }
          
                        h2 {
                          font-size: 42px;
                        }
          
                        h3 {
                          font-size: 36px;
                        }
          
                        #all-contents {
                          height: 100ch;
                          margin: none;
                        }
          
                        a {
                          font-size: 42px;
                        }
          
                        .sidebar {
                          margin-right: 0px;
                          justify-content: center;
                          align-items: center;
                          
                        }
          
                        .sidebar-img {
                          width: 100%;
                        }
          
                        p,
                        li {
                          font-size: 24px;
                        }
          
                        .content {
                          align-content: center;
                          justify-content: center;
                        }
                    }