body {
  margin: 0px;
}

canvas {
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/023/453/431/small/aesthetics-cyberspace-synthwave-vaporwave-sci-fi-retro-cyberpunk-grid-line-motion-background-video.jpg");
}

img {
  display: none;
}
